<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Category Details</title>
</head>
<body>
	<br />
	<br />
	<br />
	<hr>
	<h3>Category Details</h3>
	<table border="2">
		<tr>
			<th>Category Id</th>
			<th>Category Name</th>
			<th>No Of Policies</th>
			<th>Operation</th>
		</tr>
		<tr th:each="obj:${categories}">
			<td th:text="${obj.id}"></td>
			<td th:text="${obj.name}"></td>
			<td th:text="${obj.noOfPolicies}"></td>
			<td>
                 <a class="btn btn-outline-danger" th:href="@{/category/delete?id={data}(data=${obj.id})}">DELETE</a>
            </td>
		</tr>
	</table>
</body>
</html>